table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    
  }
  
  td {
    text-align: center;
  }

  input[type=text] {
    width: 15%;
    padding-top:1%;
    margin-left:1.8%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }


  select {
    appearance: none;
    outline: 0;
  
    background-image: none;
    width: 15%;
    height: 100%;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
}


div{
    margin-left:5%;
}

#selectField {
    margin-left:4.6%;
    padding-left:3%;

}

#selectField2 {
    margin-left:2%;
    padding-left:3%;
}